<app-navbar></app-navbar>
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">

      <div class="carousel-caption" style="padding-top: 60px;">
        <h1 style="color:white;font-weight:900;font-family: sans-serif;font-max-size: xx-large;padding-bottom: 10px;border: solid orange 6px;"routerLink="/home">BLOGFROG</h1>
        <h5>Publish your passions, your way </h5>
        <h5>Create a unique and beautiful blog. It’s easy and free.</h5>
        <button type="button" class="btn btn-primary btn-lg">Create your Blog</button>
        <p style="padding-bottom: 400px;padding-top: 20px">Don't think twice,Hit the Button</p>
      </div>

      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <!--/.Slides-->
</div>
<!--Carousel Wrapper-->
<app-footer></app-footer>
